build/
install/
log/
src/third_party/
.ccache/
.env
docker/.env
*.pyc
__pycache__/
.vscode/
*.swp
*.swo
*~
.DS_Store
recordings/
.pytest_cache/

.sage/current
.sage/render/
.sage/run/
runs/
.venv/
.ruff_cache/
/site.yaml
